body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #343434;
    line-height: 35px;
}

.clr {
    clear: both;
}

a {
    color: #3399FF;
    text-decoration: none !important;
}

a:hover, a:focus {
    color: #3399FF;
    text-decoration: underline;

}

.cotainer {

    max-width: 100%;

    width: 100%;

    margin: auto;

}

.fa {

    color: #ff9900 !important;

    margin-right: 5px;

    display: inline-block;

}

strong {

    font-weight: 600;

}

/**********header****************/

/*************************************************************************************************************************/

header {

    padding: 12px 12px; /*border-bottom:5px solid #002046;*/

}

.logo {

    float: left;

    min-width: 270px;

}

.user-info-row {

    float: right;

    min-width: 230px;

    font-size: 16px;

    font-weight: 300;

    padding-top: 27px;

}

/********content***************************/

.main-content-section {

    margin: 0px;

    padding: 0px;

}

.navigation-left-col {

    float: left;

    margin-right: 0px;

    background: #002046;

    width: 100%;

}

.content-col {

    float: left;

    max-width: 100%;

    width: 100%;

    padding: 5px 25px 30px;

}

/*******left-navigation*******************/

.navigation-left-col .navbar-collapse {

    padding: 0px;

    font-size: 16px;

    font-weight: 300;

}

.navigation-left-col .navbar {

    border-radius: 0px;

    margin-bottom: 0px;

}

.navbar-default {

    background: none;

    border: none;

}

.navbar-nav {

    float: none;

    display: block;

}

.navigation-left-col .navbar-nav > li {

    width: 100%;

}

.navigation-left-col .navbar-nav > li > a {

    padding: 12px 20px;

    display: block;

    text-decoration: none;

    color: #fff;

    font-size: 14px;

}

.navigation-left-col .navbar-nav > li > a:hover {

    background: #1c569a;

    color: #fff;

}

.navigation-left-col .navbar-nav > li > a.active {

    background: #d0d0d0;

    color: #002047;

    font-weight: 300;

}

.navigation-left-col .fa {

    margin-right: 15px;

    width: 15px;

}

/***************navbar-dropdown**********************/

.navigation-left-col .dropdown > a {

    color: #fff;

    display: block;

    font-size: 14px;

    /*padding: 13px 20px;*/

    padding: 4px 20px;

    cursor: pointer;

    background-image: url(../images/arrow-right.png);

    background-position: center right;

    background-repeat: no-repeat;

}

.navigation-left-col .dropdown.open > a {

    color: #fff;

    background: #7A7282;

    background-image: url(../images/arrow-down.png);

    background-position: center right;

    background-repeat: no-repeat;

}

.navigation-left-col .dropdown .dropdown-menu {

    border: 0px;

    border-radius: 0px;

    padding: 0px;

    position: relative;

    background: none;

    width: 100%;

    box-shadow: none;

}

.navigation-left-col .dropdown .dropdown-menu li a {

    /*padding: 13px 20px;*/

    padding: 4px 20px;

    color: red;

    font-weight: 300;

}

.navigation-left-col .dropdown .dropdown-menu li a:hover {

    background: #1c569a;

    color: #fff;

}

.navigation-left-col .dropdown .dropdown-menu li a.active {

    background: #1c569a;

    color: #fff;

}

/******/

.main-content-section .col-md-2 {

    padding: 0px;

}

.main-content-section .col-md-10 {

    padding: 0px;

}

.main-content-section .col-sm-4 {

    padding: 0px;

}

.main-content-section .col-sm-8 {

    padding: 0px;

}

/*******dashboard**********************/

.main-heading {

    float: left;

    font-size: 20px;

    font-weight: 600;

}

.happening-now {

    float: right;

    max-width: 350px;

    font-size: 18px;

    font-weight: 300;

}

.main-heading .fa {

    font-size: 30px;

    margin-right: 10px;

}

.happening-now > span {

    margin-left: 5px;

}

.recent-leads-colum {

    max-width: 460px;

}

.sub-heading-col {

    position: relative;

}

.sub-heading-col h2 {

    border-bottom: 1px solid #e8e8e8;

    padding-bottom: 15px;

    margin-bottom: 15px;

}

.recent-leads-colum .table {

    font-size: 12px;

    font-weight: 300;

    margin-bottom: 20px;

    max-width: 100%;

    width: 100%;

}

.recent-leads-colum table th {

    color: #002046;

    font-size: 12px;

    font-weight: 600;

}

.recent-leads-colum .table-bordered > thead > tr > th, .table-bordered > thead > tr > td {

    border-bottom: 1px solid #e8e8e8;

}

/**checkbox*/

.checkbox_wrapper {

    position: relative;

}

.status-view input[type="checkbox"] {

    height: 23px;

    left: 0;

    opacity: 0;

    position: absolute;

    top: 0;

    width: 100px;

    z-index: 2;

    margin: 0px;

    padding: 0px;

}

.status-view input[type="checkbox"]:checked + label {

    background: url(../images/cancel-status.png) no-repeat scroll 0 0;

    display: block;

    height: 23px;

    padding: 0 0 0 30px;

    font-size: 11px;

}

.status-view input[type="checkbox"] + label {

    background: url(../images/sucess-status.png) no-repeat scroll 0 0;

    display: block;

    height: 23px;

    padding: 0 0 0 30px;

    font-size: 11px;

    font-weight: 300;

    text-transform: uppercase;

    margin-bottom: 0px;

    padding-bottom: 0px;

}

.label-status {

    font-size: 14px;

    color: #212121;

    font-weight: 300;

    min-width: 95px;

    float: left;

}

.status-view {

    float: right;

}

.status-row {

    padding: 5px 10px;

    font-size: 14px;

    font-weight: 300;

}

.highlighted {

    background: #f2f8fe;

}

.greybar {

    background: #e5e5e5 !important;

}

.green-bar {

    background: #7fac44 !important;

    color: white;

}

.status-row .label {

    font-size: 14px;

    color: #212121;

    font-weight: 300;

    padding: 0px;

    margin: 0px;

}

.status-row .price {

    font-size: 16px;

    color: #ff9900;

    padding: 0px;

    margin: 0px;

}

.status-row a {

    font-size: 11px;

    color: #335b89;

    text-decoration: none;

    font-weight: 300;

    padding: 0px;

    margin: 0px;

}

.mainlead-col .col-md-6 {

    padding-left: 0px;

}

.mainlead-col .col-md-3 {

    padding-right: 0px;

}

.lead-flow-col {

    border: 1px solid #e5e5e5;

}

.heading-row {

    font-size: 18px;

    color: #fff;

    font-weight: 500;

    padding: 10px 0px;

    text-align: center;

    background: #002046;

}

.lead-flow-main {

    padding: 20px;

}

.def-text {

    color: #2b2b2b;

    font-size: 14px;

    font-weight: 300;

    margin-bottom: 20px;

}

.lead-flow-col h2 {

    text-align: center;

    color: #002046;

}

.question {

    background: #ffa20f;

    color: #fff;

    border-radius: 50%;

    padding: 0px 5px;

    font-size: 12px;

    margin-left: 5px;

}

a.question {

    background: #ffa20f;

    color: #fff;

    border-radius: 50%;

    padding: 0px 5px;

    font-size: 12px;

    margin-left: 5px;

}

a.question-large {

    background: #ffa20f;

    color: #fff;

    border-radius: 50%;

    padding: 3px 10px;

    font-size: 15px;

    margin-left: 5px;

}

/*HASSAN*/

.fa-orange {

    color: #ff9900 !important;

}

.question-black {

    background: #000000;

    color: #fff !important;

    border-radius: 50%;

    padding: 0px 5px;

    font-size: 12px;

    margin-left: 5px;

    text-decoration: none !important;

}

a.question-black {

    background: #000000;

    color: #fff !important;

    border-radius: 50%;

    padding: 0px 5px;

    font-size: 12px;

    margin-left: 5px;

    text-decoration: none !important;

}

a.question-black:hover {

    color: #fff !important;

}

.black {

    color: #000 !important;

}

.modal-body input {

    max-width: 250px;

    width: 100%;

    border: 1px solid #CCCCCC;

    border-radius: 8px;

    display: inline-block;

    margin: 10px 0px;

}

.status-view.chkbox {

    float: none !important;

    display: inline-block;

}

.status-view.chkbox input[type="checkbox"] + label {

    background: url(../images/empty.png) no-repeat scroll 0 0;

    display: block;

    height: 23px;

    padding: 0 0 0 30px;

    font-size: 11px;

}

.status-view.chkbox input[type="checkbox"]:checked + label {

    background: url(../images/sucess-status.png) no-repeat scroll 0 0;

    display: block;

    height: 23px;

    padding: 0 0 0 30px;

    font-size: 11px;

    font-weight: 300;

    text-transform: uppercase;

    margin-bottom: 0px;

    padding-bottom: 0px;

}

.territory-score {

    position: relative;

    width: 85px;

}

.auction-territory-score {

    position: relative;

    width: 85px;

}

.score {

    position: absolute;

    top: 42%;

    color: red;

    left: 58%;

    color: #002046;

    font-weight: 500;

    margin: -10px 0px 0px -13px;

    font-size: 18px

}

.btn-prime-large {

    font-size: 14px;

    font-weight: 500;

    background: #ff9900 !important;

    border-radius: 4px;

    -moz-box-shadow: 1px 1px 1px #bd8838;

    -webkit-box-shadow: 1px 1px 1px #bd8838;

    box-shadow: 1px 1px 1px #bd8838;

    padding: 5px 13px;

    text-align: center;

    color: #222 !important;

}

.active-stats {

    background: rgba(0, 0, 0, 0) url("../images/sucess-stats.png") no-repeat scroll left center;

    color: #239105;

    font-size: 18px;

    font-weight: 500;

    padding-left: 30px;

    padding-top: 5px;

}

.paused-stats {

    background: rgba(0, 0, 0, 0) url("../images/pause-stats.png") no-repeat scroll left center;

    color: #de0308;

    font-size: 18px;

    font-weight: 500;

    padding-left: 23px;

    padding-top: 5px;

}

.leads-col .req-elite {

    letter-spacing: -0.03px;

}

.small-fnt {

    font-size: 10px;

}

/*-------------------------*/

.progress-col {

    text-align: center;

    display: block;

}

.progress-bar-row {

    float: left;

    width: 80%;

}

.progress-bar-row .progress {

    margin-bottom: 0px;

    border-radius: 20px;

    background: #e5e5e5;

    height: 18px;

    -webkit-box-shadow: inset 0 2px 2px -2px rgba(0, 0, 0, 0.8);

    -moz-box-shadow: inset 0 2px 2px -2px rgba(0, 0, 0, 0.8);

    box-shadow: inset 0 2px 2px -2px rgba(0, 0, 0, 0.8);

}

.progress-bar-row .progress-bar {

    background: #f29100;

    border-radius: 20px;

}

.progress-status {

    float: right;

    width: 15%;

}

.grand-total {

    display: table-cell;

    height: 113px;

    text-align: center;

    vertical-align: middle;

    font-size: 14px;

    color: #2b2b2b;

    text-align: center;

}

.grand-main-col {

    display: table;

    width: 100%

}

.grand-total strong {

    font-size: 24px;

    font-weight: 500;

    color: #ff9900;

    display: block;

}

.total-leads-count label {

    font-size: 14px;

    margin-right: 5px;

    color: #111110;

}

.total-leads-count span {

    font-size: 14px;

    margin-right: 10px;

    color: #ff9900;

}

/*********************btns&*******************************/

.btn-prime {

    font-size: 12px;

    font-weight: 400;

    background: #ff9900 !important;

    border-radius: 4px;

    -moz-box-shadow: 1px 1px 1px #bd8838;

    -webkit-box-shadow: 1px 1px 1px #bd8838;

    box-shadow: 1px 1px 1px #bd8838;

    padding: 5px 10px !important;

    text-align: center;

    color: #222 !important;

}

.btn-prime.margin {

    margin: 0 10px;

}

.sub-heading {

    font-size: 18px !important;

    font-weight: 600;

    margin: 0px;

    padding: 0px;

}

.mainlead-col {

    margin: 35px 0px;

}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++Elite-status+++++++++++++++++++++********************************************/

.heading-col h2 {

    font-size: 26px;

    font-weight: 600;

    color: #222223;

    padding-bottom: 15px;

    margin-bottom: 15px;

    border-bottom: 1px solid #e8e8e8;

}

.heading-col h2 .fa {

    color: #222223;

    margin-right: 15px;

}

.inner-content-main .col-md-9 {

    padding-left: 0px;

    padding-right: 0px;

}

.inner-content-main .col-md-3 {

    padding-right: 0px;

}

.inner-content-main .sub-heading {

    margin-bottom: 15px;

}

.status-right-col {

    background: #f3f3f3;

}

.status-right-col .heading-row {

    position: relative;

    font-size: 14px;

    padding-left: 65px;

}

.heading-strip {

    background: rgba(0, 0, 0, 0) url("../images/heading-strip.png") no-repeat scroll 0 0;

    color: #fff;

    font-size: 24px;

    height: 79px;

    left: 15px;

    padding-left: 10px;

    padding-top: 10px;

    position: absolute;

    top: 0;

    width: 80px;

    z-index: 888;

}

.heading-strip .fa {

    color: #002046;

}

.status-right-col-inner {

    padding: 35px 10px;

}

.search-liniks {

    background: #fff none repeat scroll 0 0;

    text-align: center;

}

.search-liniks img {

    display: inline-block;

    margin-bottom: 10px;

    width: 82px;

}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++Elite-status+++++++++++++++++++++********************************************/

.scrubbed-icon {

    background: url(../images/scrubbed.png) no-repeat;

    width: 33px;

    height: 23px;

}

/*







.active{ background:url(../images/sucess-status2.png) no-repeat left center; padding-left:30px; font-size:14px; font-weight:500; color:#239105; padding-top:5px;}







.inactive{ background: url(../images/cancel-status.png) no-repeat left center; padding-left:30px; font-size:14px; font-weight:500; color:#de0308;padding-top:5px;}







*/

.change-status {

    font-size: 12px;

    font-weight: 300;

    padding-left: 5px;

}

.pn {

    padding-bottom: 0px !important;

}

.mn {

    margin-bottom: 0px !important;

}

.add-remove-col {

    font-size: 14px;

    color: #1c569a;

    text-align: right;

    margin-bottom: 10px;

}

.scrubbed-leadtable-col .progress-bar {

    background: #5fbc0b;

}

.scrubbed-leadtable-col .fa {

    color: #2d2d2d;

}

.desc-text {

    color: #222223;

    margin-top: 30px;

}

.desc-text h3 {

    margin: 0px;

    padding: 0px;

    font-size: 14px;

    font-weight: 500;

    margin-bottom: 5px;

}

.desc-text p {

    font-size: 12px;

    font-weight: 300;

}

.lock-terrority {

    display: inline-block;

    font-size: 12px;

    font-weight: 300;

    max-width: 50%;

    vertical-align: middle;

}

.lock-terrority a {

    color: #ff9900;

    font-size: 14px;

    font-weight: 400;

}

.add-link {

    display: inline-block;

    max-width: 45%;

    margin-right: 5px;

}

.add-link > img {

    width: 100%;

}

.scrubbed-leadtable-col.auction-col .progress-bar {

    background: #f29100;

}

/************************************************************login**********************************************/

.login-form {

    max-width: 500px;

    margin: 0 auto;

    margin-top: 0px;

    margin-bottom: 50px;

    background: #cecece;

    padding: 20px;

    border-radius: 5px;

    border: 2px solid #002046

}

.login-form label {

    color: #002046;

    font-size: 16px;

    font-weight: 400;

}

.login-form button {

    border: 0px;

    width: 130px;

    padding: 5px;

    font-size: 20px;

    color: #fff !Important

}

.login-form input[type="submit"] {

    border: 0px;

    width: 130px;

    padding: 5px;

    font-size: 20px;

    color: #fff !Important

}

.login-form button:hover {

    background-color: #002046 !important;

    box-shadow: 1px 1px 1px #002046;

}

/*************************************************************Monthly-budget******************************************/

.inner-content-main .col-md-12 {

    padding: 0px;

}

.montly-budget-row {

    margin: 30px 0px;

}

.montly-budget-row .title {

    font-size: 16px;

    color: #1d1e1e;

    font-weight: 500;

    vertical-align: middle;

}

.privacy-check > strong {

    font-size: 16px;

}

.montly-budget-row .amount {

    vertical-align: middle;

    vertical-align: middle;

}

.montly-budget-row .amount input[type="text"] {

    border: 1px solid #c0c0c0;

    padding: 10px;

    color: #1d1e1e;

    font-weight: 300;

}

.montly-budget-row .example-text {

    font-size: 14px;

    font-weight: 300;

    color: #1d1e1e;

    ertical-align: middle;

}

.title strong {

    font-weight: 500;

}

.privacy-check {

    margin: 30px 0px;

    font-weight: 300;

}

.button-update .btn-prime {

    font-size: 18px;

    font-weight: 400;

    color: #002046;

    text-transform: uppercase;

    letter-spacing: -1;

}

.button-update .btn-prime:hover {

    background: #239105 !important;

    color: #fff !important;

    box-shadow: 1px 1px 1px #4a6e41;

}

/**********************************notifications*************************************/

.contact-option-inner {

    padding-left: 30px;

    margin-bottom: 30px;

}

.contact-option-inner .amount {

    display: inline-block;

    margin: 0 10px;

    vertical-align: top;

    min-width: 250px;

}

.contact-option-inner .amount a {

    font-size: 12px;

}

.contact-option-inner .title {

    min-width: 110px;

    display: inline-block;

}

.contact-option-inner .amount input {

    display: block;

    padding-left: 10px;

    width: 100%;

    text-align: center;

}

.contact-option-inner .amount p {

    font-size: 12px;

    font-weight: 300;

}

.contact-table {

    max-width: 590px;

    margin: 20px 0px;

}

.bluebar {

    background: #002046;

    color: white;

}

.light-bluebar {

    background: #e5e5e5;

}

.contact-table th {

    color: #fff;

}

.table-heading {

    font-size: 14px !important;

    color: #002046 !important;

    padding-left: 20px !important;

}

.tabble-subheading {

    font-size: 14px !important;

    color: #222222 !important;

    padding-left: 40px !important;

    font-weight: 500 !important;

}

.tabble-subheading p {

    font-weight: 300 !important;

    font-size: 12px;

}

/*******************************************Account-info*&**********************************************/

.account-info {

    padding-left: 40px;

}

.info-row {

    padding: 35px 0px;

    border-bottom: 1px solid #e8e8e8;

}

.info-row .left-col {

    font-size: 16px;

    margin-right: 15px;

    color: #ff9900;

    float: left;

    width: 2%;

}

.info-row .right-col {

    float: left;

    width: 90%;

}

.info-row .right-col h2 {

    font-size: 16px;

    color: #002046;

    font-weight: 4000;

    margin: 0px;

    padding: 0px;

}

.info-row p {

    font-size: 14px;

    color: #222223;

    font-weight: 300;

}

.client-name {

    padding-left: 45px;

    font-weight: 300;

}

.client-name a {

    text-decoration: none;

    font-size1: 4px; /*color:#ff9900;*/

    font-weight: 500;

}

.info-row a {

    font-size: 12px;

    font-weight: 300;

}

/***********************pagination****************************************/

.pagination {

    margin: 0px !important;

}

.pagination > li:first-child > a, .pagination > li:first-child > span {

    border-radius: 0px;

}

.pagination > li > a, .pagination > li > span {

    margin-right: 5px;

    font-size: 12px;

    color: #4d4d4d;

}

.pagination > li:last-child > a, .pagination > li:last-child > span {

    border-radius: 0px;

}

.pagination .fa {

    color: #4d4d4d !important;

    font-size: 16px;

}

/*****************************************Hisory****************************************************/

.history-table {

    max-width: 625px;

}

.history-table .table-bordered > thead > tr > th, .table-bordered > thead > tr > td {

    text-align: center !important;

    color: #002046 !important;

    font-weight: 500;

}

.history-table tbody > tr > td {

    text-align: center !important;

    font-weight: 300;

}

.history-table .fa {

    color: #002046 !important;

}

.history-table .table .table-bordered th {

    text-align: center;

}

/*********************************************request-elite*************************************/

.leads-col {

    border: 1px solid #1c569a;

    border-radius: 5px;

    padding: 20px;

    max-width: 620px;

    position: relative;

}

.leads-col h2 {

    font-size: 18px;

    color: #fff;

    margin: 0px;

    padding: 0px;

    padding: 8px 15px;

    background: #002046;

    border-radius: 8px;

}

.leads-col h2 span {

    text-align: right;

    float: right;

    padding: 5px 0px;

}

.leads-col h2 i {

    margin-right: 15px;

    display: inline-block;

    background: url(../images/scrubbed-white.png)

}

.leads-col h3 {

    font-size: 18px;

    color: #222223;

    text-align: center;

    margin: 0px;

    padding: 0px;

    padding: 20px 0px;

}

.leads-col h3 a {

    text-decoration: underline;

    color: #222223;

}

.leads-col p {

    font-size: 14px;

    color: #222223;

    font-weight: 300;

    margin: 0px;

    padding: 0px;

}

.status-col {

    max-width: 400px;

    margin: 0 auto;

    width: 100%;

    margin-bottom: 20px;

    margin-top: 20px;

}

.paused {

    background: url(../images/paused2.png) no-repeat left center;

    padding-left: 35px;

    font-size: 18px;

    font-weight: 500;

    color: #de0308;

    padding-top: 5px;

}

.status.active {

    background: url(../images/status-active.png) no-repeat left center;

    font-size: 18px;

    padding-left: 35px;

}

.leads-col h4 {

    font-size: 14px;

    display: inline-block;

}

.or {

    padding: 0px 15px;

}

.btns-row {

    text-align: center;

}

.btns-row .btn-prime {

    font-size: 18px;

    color: #002046;

    font-weight: 400;

    text-transform: uppercase;

    margin-right: 20px;

    min-width: 200px;

    letter-spacing: -1;

    display: inline-block;

    margin-bottom: 10px;

}

.btns-row .btn-prime:hover {

    background: #239105 !important;

    color: #fff !important;

    box-shadow: 1px 1px 1px #4a6e41;

}

.btns-row .btn-blue {

    font-size: 12px;

    background: #002046;

    font-weight: 400;

    text-transform: uppercase;

    border-radius: 4px;

    padding: 5px 10px !important;

    color: #fff;

    min-width: 75px;

}

.btns-row .btn-blue:hover {

    background: #1c569a;

    color: #fff;

}

.cancel-btn {

    position: absolute;

    top: 0px;

    right: 0px;

    color: #002046;

    font-size: 20px;

}

.cancel-btn .fa {

    color: #002046;

}

.status-view.elite-check {

    margin-bottom: 30px;

}

.status-view.elite-check input[type="checkbox"] + label {

    font-size: 14px;

    font-weight: 400;

    color: #239105;

}

.status-view input[type="checkbox"]:checked + label {

    background: url(../images/empty.png) no-repeat;

}

.status-view.not-interested input[type="checkbox"] + label {

    font-size: 14px;

    font-weight: 400;

    color: #2e2e2e;

    text-transform: capitalize;

}

.status-view.not-interested {

    margin-bottom: 30px;

}

/***********************************************************Lead-detail***********************************************/

.upper-column .fa {

    font-size: 25px;

}

.upper-column .fa.fa-print {

    color: #9c9c9c !important;

}

.heading-col.name h2 { /*font-size:20px;*/

    color: #002046;

}

.phone {

    margin-left: 85px;

}

.lead-detail-inner .def-text {

    margin-bottom: 0px;

}

.lead-detail-table-col {

    margin: 30px 0px;

}

.first-table {

    float: left;

    width: 47.5%;

}

.second-table {

    float: right;

    width: 47.5%;

}

.links-row a {

    border-right: 1px solid #000;

    display: inline-block;

    font-weight: 300;

    line-height: 12px;

    padding: 0 10px;

}

.links-row a:nth-last-child(1) {

    border: 0px;

}

.local-feature {

    padding: 35px 10px 20px 10px;

}

.local-feature .def-text {

    margin-bottom: 0px;

}

.editable-col {

    border: 1px solid #d9d6d6;

    border-radius: 6px;

    background: #fff;

    padding: 5px 10px 5px 5px;

    font-size: 14px;

    font-weight: 300;

    margin-bottom: 15px;

}

.editable-col a {

    float: right;

}

.short-desc {

    font-size: 13px;

    text-align: justify;

}

.make-call-btn {

    margin: 15px 0px 10px 0px;

    text-align: center;

}

.make-call-btn a {

    max-width: 105px;

    color: #553300;

}

.view-d {

    text-align: center;

    font-size: 12px;

}

/*************************************************Modal box***********************************/

.modal-header {

    border-bottom: 0px;

}

.modal-header .close {

    opacity: 1;

}

.modal-header .fa {

    color: #002046;

    font-size: 20px;

    opacity: 1;

}

.mini-popup {

    position: relative;

    max-width: 410px;

    border: 1px solid #1c569a;

    border-radius: 5px;

    padding: 20px;

}

.mini-popup h2 {

    background: #002046 none repeat scroll 0 0;

    border-radius: 8px;

    color: #fff;

    font-size: 18px;

    margin: 0;

    padding: 8px 15px;

}

.leads-col ul {

    margin: 20px 0px;

}

.mini-popup ul {

    margin: 20px 20px;

}

/**********************************theme********************************/

.navigation-left-col {

    background: #dfdfdf;

}

.navigation-left-col .navbar-nav > li > a {

    color: #002047;

}

.navigation-left-col .navbar-nav > li > a:hover {

    background: #d0d0d0;

    color: #002047;

}

.navigation-left-col .dropdown .dropdown-menu li a {

    color: #002047;

}

.navigation-left-col .dropdown .dropdown-menu li a:hover {

    background: #d0d0d0;

    color: #002047;

}

/*header{ background:#002046;}*/

/*.user-info-row ul li a{ color:#fff;}*/

.user-info-row ul li a {

    color: #002046;

}

.navigation-left-col .dropdown > a {

    color: #002047;

}

.navigation-left-col .dropdown .dropdown-menu li a.active {

    background: #d0d0d0 none repeat scroll 0 0;

    color: #002047;

}

/********************************************Table-modifications********************/

table.dataTable.no-footer {

    border-bottom: 1px solid #ddd !important;

}

table.dataTable.alignCenter {

    text-align: center !important;

}

.recent-leads-colum .table {

    margin-bottom: 0px;

}

table.dataTable tbody th, table.dataTable tbody td {

    padding: 5px !important;
    vertical-align: middle;

}

table.dataTable thead th, table.dataTable thead td {
    border-bottom: 1px solid #eee !important;
    padding: 5px !important;
}

.dataTable th {

    padding: 0px;

}

.dataTable td {

    padding: 0px;

}

.dataTable td.details-control {

    cursor: pointer;

    color: #3399FF;

}

.dataTables_info {

    position: relative;

    width: 100%;

    background: #e5e5e5;

    height: auto;

    padding: 5px 10px !Important;

    font-size: 12px;

    text-align: left;

}

.dataTables_paginate.paging_full {

    width: 50%;

    background: #e5e5e5;

    height: auto !important;

    padding: 0px !important;

    line-height: 8px;

    padding: 1px 10px !important;

    font-size: 12px;

    position: absolute;

    bottom: 1px;

    right: 0px;

}

.dataTables_paginate.paging_full .fa {

    color: #000000 !important;

}

.dataTables_paginate.paging_full a {

    border-radius: 0px !important;

    border: 1px solid #ddd !important;

    background: #fff !important;

    color: #000;

}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {

    color: #000 !important;

}

.dataTables_paginate.paging_full a:hover {

    background: #eee !important;

    color: #000000 !important;

}

.dataTables_paginate.paging_full a.disabled {

    background: #cecece !important;

    color: grey !important;

}

.dataTable {

    position: relative;
    font-size: 13px !important;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif !important;

}

/*.dataTable:after{background: #e5e5e5 none repeat scroll 0 0;bottom: -35px;content: "";height: 35px;left: 0;







   position: absolute;width: 100%;z-index: -55 !important;left:0px; }*/

.modal-body .dataTable {

    position: relative;

}

.modal-body .dataTable:after {

    background: #e5e5e5 none repeat scroll 0 0;

    bottom: -35px;

    content: "";

    height: 35px;

    left: 0;

    position: absolute;

    width: 100%;

    z-index: auto !important;

    left: 0px;

}

/****************newcsss***********/

.setting-page {

    border: 1px solid #e5e5e5;

}

.setting-page .status-view {

    float: left;

}

.setting-page .status-view a {

    float: right;

    margin-right: 5px;

}

.status-block {

    margin: 0px 5px;

    display: inline-block;

    font-size: 12px;

}

.billing .label-status {

    min-width: 60px;

}

.setting-page {

    margin-top: 15px;

}

.label-text {

    display: inline-block;

    margin-bottom: 5px;

    max-width: 130px;

    width: 100%;

}

.lead-detail-inner.profile .col-md-6 {

    padding-left: 0px;

}

.ppc-col li.active {

    background: none;

}

.ppc-col .tab-pane.active {

    background: none;

}

.ppc-col {

    margin-top: 25px;

}

.tabs-col {

    border: 1px solid #e5e5e5;

    padding: 15px 25px;

}

.ppc-col .tabs-col ul {

    text-align: center;

    border: 0px; /*margin-bottom: 15px;*/

}

.ppc-col .tabs-col ul li a {

    border: 0px;

    padding: 0px;

    margin: 0px;

    border-radius: 0px;

    line-height: auto;

    color: #1d1d1d;

    font-size: 14px;

    font-weight: 300;

}

.ppc-col .tabs-col ul li a:hover {

    border: 0px;

    background: none;

    margin: 0px;

    padding: 0px;

    color: #1d1d1d;

    font-size: 14px;

    font-weight: 300;

}

.ppc-col .tabs-col ul li {

    background: rgba(0, 0, 0, 0) url("../images/inactive-tab.png") no-repeat scroll left center;

    display: inline-block;

    float: none;

    margin: 0px;

    margin-right: 10px;

    padding: 0px;

    padding-left: 24px;

    border: 0px;

}

.ppc-col .tabs-col ul li.active {

    background: url(../images/active-tab.png) no-repeat;

}

.tabs-col .sub-heading-col h2 {

    color: #002046;

    text-align: center;

}

.tabs-col .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {

    color: #222223;

    font-weight: 300;

}

.tabs-col .table > thead > tr > th {

    color: #002046;

    font-weight: bold;

}

.tabs-col .table a {

    color: #f29400;

}

.tab-content > .tab-pane {

    padding-left: 0px !important;

}

.fa.arrow-right {

    font-size: 25px;

    color: #ff9900 !important;

}

.heading-colum {

    margin-bottom: 15px;

}

.view-ppc {

    margin-bottom: 15px;

}

.view-ppc .btn-prime {

    font-size: 14px;

}

/********************************************************************Modifications28-11-2015******************************************/

.modal-body textarea {

    width: 100%;

}

.modal-dialog {

    margin: 30px auto;

    max-width: 620px;

    width: 100%;

    box-shadow: 0px 0px 2px #c8c8c8;

}

.modal-dialog.medium {

    max-width: 500px;

}

.modal-dialog.small {

    max-width: 400px;

}

.modal-dialog.xl {

    max-width: 850px;

}

.modal-dialog.xl .leads-col {

    max-width: 850px;

    width: 100%;

}

.modal-dialog.xl .leads-col h3 {

    text-align: left;

}

.modal-dialog .dataTable::after {

    background: #e5e5e5 none repeat scroll 0 0;

    bottom: -35px;

    content: "";

    height: 35px;

    left: 0;

    position: absolute;

    width: 100%;

    z-index: -66px !Important;

}

.brn {

    border-radius: 0px !important;

}

#myLeadsFrm {

    margin-bottom: 10px;

}

.status-col.btns-row .btn-prime {

    min-width: auto !important;

}

/*******************forheadings************************/

.heading1 {

    font-size: 18px !important;

    font-weight: 500 !important;

    margin: 5px 0px;

}

.heading2 {

    font-size: 16px !important;

    font-weight: 500 !important;

    margin: 5px 0px;

}

.heading3 {

    font-size: 12px !important;

    font-weight: 500 !important;

    margin: 5px 0px;

}

/*************************************************Modifications 30-11-2015 *******************************************************/

/***********Active**********************/

.status-col .status-view {

    float: none;

}

.status-col .status-view input[type="checkbox"]:checked + label {

    background: url(../images/status-active.png) no-repeat left center;

    height: 30px;

    color: green !important;

    font-weight: 500;

    font-size: 18px;

    text-transform: capitalize !important;

    padding-top: 3px;

    padding-left: 40px;

}

.status-col .status-view input[type="checkbox"]:checked + label a {

    color: green !important;

    font-weight: 500;

    font-size: 18px;

    text-transform: capitalize !important;

}

.status-col .status-view input[type="checkbox"] {

    height: 30px;

}

.status-col .status-view input[type="checkbox"] + label {

    background: url(../images/status-inactive.png) no-repeat left center;

    color: black !important;

    height: 30px;

    font-size: 18px;

    text-transform: capitalize !important;

    padding-top: 3px;

    padding-left: 40px;

}

.status-col .status-view input[type="checkbox"] + label a {

    color: black !important;

    font-weight: 500;

    font-size: 18px;

    text-transform: capitalize !important;

}

/***********Pause**********************/

.status-col.pause .status-view {

    float: none;

}

.status-col.pause .status-view input[type="checkbox"]:checked + label {

    background: url(../images/paused.png) no-repeat left center;

    height: 30px;

    color: #de0308 !important;

    font-weight: 500;

    font-size: 18px;

    text-transform: capitalize !important;

    padding-top: 3px;

    padding-left: 40px;

}

.status-col.pause .status-view input[type="checkbox"]:checked + label a {

    color: #de0308 !important;

    font-weight: 500;

    font-size: 18px;

    text-transform: capitalize !important;

}

.status-col.pause .status-view input[type="checkbox"] {

    height: 30px;

}

.status-col.pause input[type="checkbox"] + label {

    background: url(../images/status-inactive.png) no-repeat left center;

    color: black !important;

    height: 30px;

    font-size: 18px;

    text-transform: capitalize !important;

    padding-top: 3px;

    padding-left: 40px;

}

.status-col.pause input[type="checkbox"] + label a {

    color: black !important;

    font-weight: 500;

    font-size: 18px;

    text-transform: capitalize !important;

}

.status {

    display: inline-block;

}

/************************30-11-2015*********************/

.edit-profile {

    max-width: 100%;

    width: 100%;

}

.edit-profile label {

    display: block;

    font-size: 14px;

    font-weight: 500;

    margin-bottom: 5px;

}

.edit-profile input {

    border: 1px solid #d0d0d0;

    color: #838383;

    margin-bottom: 7px;

    padding: 5px;

    width: 100%;

    font-weight: 400;

}

.edit-profile input[type="checkbox"] {

    width: auto;

}

.edit-profile select {

    padding: 5px;

    width: 100% !Important;

    font-weight: 400;

}

.edit-profile select.expDate {

    width: 40% !important;

    margin-right: 10px;

    font-weight: 400;

    display: inline-block;

}

.edit-profile .defaultSkin table.mceLayout {

    width: 100% !important;

}

/***************************contactus_page******************/

.main-form-col {

    max-width: 500px;

    width: 100%;

}

.main-form-col label {

    font-size: 14px !important;

    font-weight: 500;

    padding: 0;

    text-align: left;

}

/**********Resources*******************/

.bullet-points ul {

    main: 0px;

    padding: 0px;

}

.bullet-points ul li {

    font-weight: 300;

    margin-left: 15px;

}

/*******************faq********************/

.faq p {

    font-weight: 300;

}

.status-col.time-date-row.calender > span {

    display: inline-block;

}

.col-inner {

    display: inline-block;

    width: 40%;

    margin-bottom: 15px;

    margin-right: 40px;

    vertical-align: top;

}

.col-inner.editor {

    display: block;

    width: 100%;

}

.modal .status-col.btns-row a {

    float: none;

}

.modal .leads-col h2 {

    margin-bottom: 10px;

}

.modal label {

    margin-right: 10px;

}

/***********************blue-btn****************************/

.btn-blue {

    font-size: 14px;

    background: #002046;

    font-weight: 400;

    text-transform: uppercase;

    border-radius: 4px;

    padding: 3px 10px;

    color: #fff;

    margin: 0 0 0 5px;

}

.btn-blue:hover {

    background: #1c569a;

    color: #fff;

}

.red {

    color: #de0308 !important;

}

.center {

    text-align: center;

}

/*******************/

.auction_bidding_panel {

    text-align: center;

}

.auction_bidding_panel h4 {

    font-size: 14px;

    padding: 15px 0px;

    margin: 0px;

}

.bidding_panel {

    background: #e5e5e5 none repeat scroll 0 0;

    border-radius: 8px;

    padding: 10px 5px;

}

.bidding_panel > h3 {

    font-size: 18px;

    margin: 0 0 10px;

    padding: 0;

}

.bidding_panel > input {

    border: 1px solid #ccc;

    border-radius: 8px;

    margin-bottom: 15px;

    padding: 5px 10px;

    text-align: center;

    width: 80%;

}

.auction_bidding_panel .bidding_panel:nth-child(3) > input {

    color: red;

}

.bidding_panel .btn-blue {

    max-width: 42%;

}

.bidding_panel > p {

    margin: 0 0;

}

.bidding_panel > p span {

    color: red;

}

.bidding_panel input.readonly {

    color: red;

}

.dropdown-menu > li:last-child {

    border-bottom: 1px solid #002046;

}

/***************Revisions*************************************/

.status-row label {

    margin-bottom: 0px;

}

.sub-heading {

    font-size: 16px !important;

    font-weight: 400;

}

.happening-now {

    font-size: 14px;

    font-weight: 400;

}

.happening-now {

    margin-top: 5px;

}

.progress-col {

    margin-bottom: 15px;

}

.grand-total {

    height: 60px;

}

.def-text.req {

    margin-bottom: 5px;

}

.analizing-col {

    margin-top: 20px;

}

/*********************12-12-2015************************/

/***************************************************Billing-information*************************************************/

#common_popup_modal_mp .modal-body .dataTable::after {

    z-index: -1 !important;

}

.edit-profile.billing-information {

    max-width: 700px;

}

.edit-profile.billing-information .col-inner {

    display: block;

    width: 100%;

}

.edit-profile.billing-information label {

    display: inline-block;

    width: 19%;

}

.edit-profile.billing-information input[type="text"] {

    display: inline-block;

    width: 30% !Important;

}

.edit-profile.billing-information select {

    display: inline-block;

    width: 30% !important;

}

.edit-profile.billing-information select.expDate {

    width: 14% !important;

}

.edit-profile.billing-information .defaultSkin table.mceLayout {

    width: 100% !important;

}

/*****************************************************UNSUBSCRIBE-PAGE*************************************************/

.main-col-unsub {

    text-align: Center;

    padding-top: 50px;

}

.main-col-unsub .main-heading {

    display: block !Important;

    width: 100%;

}

.main-col-unsub .btn-prime {

    margin: 10px 0px;

}

.email-notification .checkbox_wrapper {

    display: inline-block;

    text-align: center;

}

.email-notification select {

    width: 100%;

    margin-top: 3px;

}

/****************progressbar************************/

.territory-score {

    border: 2px solid;

    border-radius: 50%;

    height: 98px;

    padding: 4px 5px;

    position: relative;

    text-align: center;

    width: 98px;

    display: inline-block;

}

.auction-territory-score {

    border: 2px solid;

    border-radius: 50%;

    height: 98px;

    padding: 4px 5px;

    position: relative;

    text-align: center;

    width: 98px;

    display: inline-block;

}

/********************Revisions document 12.17 lmc***********************************/

.status-view.timedbox input[type="checkbox"] {

    width: 25px;

}

.status-view.timedbox select {

    width: 72%;

    margin-top: 0px;

    display: inline-block;

    vertical-align: top !important;

}

.progress-col {

    margin-bottom: 25px;

}

.mb5 {

    margin-bottom: 5px !important;

}

.custom-well {

    min-height: 20px;

    padding: 19px;

    margin-bottom: 20px;

    border: 1px solid #e5e5e5;

    border-radius: 4px;

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);

    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);

}

.fs18 {

    font-size: 18px !important;

}

.logo img {

    max-width: 53%;

}

/* Nabeel 12.21 Doc modifications*/

.modal .leads-col h3 {

    text-align: left;

}

.recent-leads-colum table tr th {

    padding: 4px 18px !important;

}

.recent-leads-colum .dataTable::after {

    height: 25px !Important;

    bottom: -25px !Important;

}

.recent-leads-colum .dataTables_info {

    padding: 0px 15px !important;

}

.grand-col {

    margin-top: 53px;

}

.pink-cls {

    color: #fb4479;

    font-weight: 300;

}

.btn-sm .btn-prime {

    font-size: 10px;

    vertical-align: middle;

}

/*******************************************************************Revisions 12.24 & 12.26 *************************************/

.leads-col h3 {

    padding-bottom: 0px;

}

.terrority-head {

    display: inline-block;

    font-weight: bold;

    vertical-align: top;

}

.terrority-desc {

    display: inline-block;

    vertical-align: top;

    width: 80%;

}

.territory-main-txt {

    font-size: 16px;

}

.map-smal {

    margin: 0 auto;

    max-width: 750px;

    width: 100%;

}

.map-head {

    font-weight: bold;

    margin-right: 10px;

}

.county-div.map-opt span {

    font-weight: bold;

    margin-right: 10px;

}

.county-div.map-opt a {

    margin-right: 10px;

}

.county-div.map-opt {

    margin-bottom: 5px;

}

/* Modal Forms*/

.form-modal label {

    display: block;

    margin: 0px !Important;

    padding: 0px !important;

}

.form-modal input {

    border-radius: 4px;

    display: block;

    margin: 0 10px 10px 0;

    max-width: 100%;

    padding: 5px;

}

/*******************************revisions**********************************/

.amount.budget input[type="text"] {

    width: 100px;

}

.mceIframeContainer.mceFirst.mceLast {

    height: 200px;

}

.mceIframeContainer.mceFirst.mceLast iframe {

    height: 200px !important;

}

/* Revisions on 4th of jan 2016 */

.green-bg {

    background-color: #5fbc0b !important;

}

.orange-bg {

    background-color: #f29100 !important;

}

footer {

    border-top: 1px solid #002046;

    padding: 10px 0;

    text-align: center;

    color: #002046;

}

.heading-login_form {

    margin: 0 auto;

    max-width: 500px;

    padding: 20px;

}

/******************************************************************************************************************************Admin*********************************/

/*************************************inputfiler***************************************/

.input-filter span {

    background: #e7e7e7;

    right: 0px;

    top: 0px;

    width: 30px;

    height: 100%;

}

.input-filter button {

    width: 200px;

}

.input-filter .btn-group {

    background: none;

}

.input-filter .btn-group.open {

    background: none;

}

.input-filter .btn-default {

    background: none;

}

.input-filter .btn-default:hover {

    background: none;

}

.input-filter button:hover {

    background: none;

}

.input-filter span.xyz {

    position: absolute;

    padding: 10px 0px;

}

.input-filter .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {

    background: none;

}

/*********************************************inner-sub-column********************************************************************************/

.navigation-left-col .dropdown .dropdown-menu li a {

    border-bottom: 1px solid #c3c3c3;

}

.navigation-left-col .navbar-nav > li {

    border-bottom: 1px solid #c3c3c3;

}

.dropdown-menu > li:last-child {

    border-bottom: 0px;

}

.navigation-left-col .dropdown > a {

    background-color: #347baa;

    color: #fff !important;

    font-weight: 500;

}

.navigation-left-col .dropdown.open > a {

    background-color: #347baa;

}

.navigation-left-col .inner-sub-col ul li a {

    padding: 10px;

}

.navigation-left-col .inner-sub-col .dropdown.open > a {

    background-color: #908D94 !important;

    color: #002046 !important;

}

.navigation-left-col .inner-sub-col .dropdown > a {

    background-color: #908D94 !important;

    color: #002046 !important;

    background: #908D94 url("../images/arrow-down-blue.png") no-repeat scroll right center !Important;

}

.navigation-left-col .inner-sub-col .dropdown.open > a:hover {

    background-color: #908D94 !important;

    background: #908D94 url("../images/arrow-down-blue.png") no-repeat scroll right center !Important;

}

/******************************************************tabel-column-center*********************************/

.center-content tr td {

    text-align: center;

}

.center-content tr th {

    text-align: center;

}

.red {

    color: red !important;

}

/**searchbar********/

.searchbox {

    float: right;

    max-width: 250px;

    margin-bottom: 15px;

}

.main-col-search {

    margin-bottom: 15px;

    /*background: #7fac44;*/

    padding: 5px 10px;

    /*border-radius: 5px;*/

    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;

}

.main-col-search label {

    font-weight: 300;

    margin-right: 2px;

    color: #000;

}

.main-col-search input[type="text"] {
    color: #333;
    font-size: 12px;
    margin-bottom: 5px;
    padding: 0;
    text-align: center;
    width: 70px;
}

.main-col-search select {

    width: 100px;

    padding: 3px 0px;

    margin-right: 5px;

}

.main-col-search .wauto {

    width: auto;

    padding: 3px 0px;

    margin-right: 5px;

}

.main-col-search a {

    margin: 5px 5px;

}

.subheading {

    font-size: 16px;

    font-weight: 500;

    margin-bottom: 15px;

}

/**********status-colorbar******************************/

.status-col {

    display: inline-block;

    margin-right: 3px;

    width: 110px;

}

.status-col label {

    display: block;

    font-size: 12px;

    font-weight: 500;

}

.status-bar {

    border: 1px solid;

    padding: 0px 0px;

}

.status.bar {

    background: #ececec none repeat scroll 0 0;

    border-radius: 5px;

    margin-bottom: 20px;

    padding: 0 9px;

    width: 100%;

}

.nopixel {

    background: #f2f2f2;

}

.colorbar-main {

    margin-bottom: 15px;

}

.not-qualified {

    background: #fde9d9;

}

.rejected {

    background: #ffffcd;

}

.bogus {

    background: #ffe8e8;

}

.pending {

    background: #e5f0fe;

}

.test {

    background: #eaf1dd;

}

.error {

    background: #f5dffa;

}

.notsold {

    background: #ddffdd;

}

/***********************Formbox*********************/

.form-row {

    margin-bottom: 15px;

}

.form-row label {

    width: 20%;

    text-align: left;

    margin-right: 10px;

    vertical-align: top;

    font-weight: 500;

}

.form-row input[type="text"] {

    width: 30%;

}

.form-row input[type="checkbox"] {

    text-align: left;

}

.form-row input[type="radio"] {

    text-align: left;

}

.form-row select {

    width: 30%;

    padding: 3px 5px;

}

.form-row textarea {

    width: 30%;

}

.form-row label span {

    font-weight: 300;

    display: inline-block;

    font-size: 12px;

}

.all-checkboxes {

    display: inline-block;

    width: 40%;

    vertical-align: middle;

    font-weight: 300;

    padding: 20px 15px;

}

.all-checkboxes input {

    margin-right: 8px;

    display: inline-block;

    font-weight: 300;

    margin-bottom: 10px;

}

.detail-text {

    display: inline-block;

    font-size: 12px;

    font-weight: 300;

    line-height: 21px;

    vertical-align: middle;

    width: 40%;

}

.detail-text ul {

    margin: 0px;

    padding: 0px;

}

.detail-text ul li {

    margin: 0px;

    padding: 0px;

    margin-left: 8px;

}

.seprator {

    border-bottom: 1px dashed;

    height: 0;

    margin: 20px 0;

}

.inner-subheading {

    padding: 5px 0px;

    font-size: 14px;

    font-weight: 400;

}

.btn-row {

    text-align: center;

    margin: 20px 0px;

}

.btn-row .btn-prime {

    margin-right: 15px;

}

.btn-row .btn-prime:hover {

    background: #002046 !important;

    box-shadow: 1px 1px 1px #002046;

    color: #fff !important;

}

.title-col {

    float: left;

    width: 120px;

    text-align: left;

    margin-right: 10px;

    font-weight: bold;

    margin-bottom: 10px;

    font-weight: 500;

}

.desc-col {

    margin-bottom: 10px;

    width: 60%;

    display: inline-block;

    font-weight: 300;

    font-size: 13px;

}

.desc-col textarea {

    width: 100%;

    height: 150px;

}

/*************Agent-profile-page************************/

.sub-heading-inner {

    font-size: 14px;

    margin-top: 25px;

    font-weight: 500;

}

.link a {

    color: #0053b6;

    margin-bottom: 10px;

    display: inline-block;

    font-weight: 300;

}

/**/

.text-box-col {

    width: 100%;

    border: 1px solid #ddd;

    padding-left: 10px;

}

.text-select-col {

    width: 100%;

    border: 1px solid #ddd;

    padding: 5px;

}

.line {

    border-bottom: 1px solid #ddd;

    margin: 10px 0px;

}

.selecbx {

    width: 100%;

    padding: 5px;

    margin-bottom: 10px;

    display: block;

}

label {

    font-weight: 400;

}

.inline-row {

    margin-bottom: 20px;

}

.inline-row label {

    display: inline-block;

    width: 15%;

}

.inline-row input[type="text"] {

    display: inline-block;

    width: 80%;

    padding: 5px;

}

.inline-row select {

    display: inline-block;

    width: 80%;

    padding: 5px;

}

/***********inline-form**************/

.inline-form label {

    display: inline-block;

    margin-right: 15px;

}

.inline-form input {

    display: inline-block;

    margin-right: 15px;

    padding: 5px 10px;

}

.inline-form select {

    display: inline-block;

    margin-right: 15px;

    padding: 5px 10px;

    width: 150px;

}

.inline-form button {

    display: inline-block;

    margin-right: 15px;

    padding: 5px 10px;

}

.utm-reports-btns a {

    border: 1px solid #ddd;

    padding: 15px 20px;

    text-align: center;

    display: inline-block;

    color: #000;

    margin-right: 10px;

}

.utm-reports-btns a:hover {

    background: #002046;

    color: #fff;

}

.scroll-text {

    height: 600px;

    overflow: scroll;

    overflow-x: hidden;

}

/*************popups********************/

.p-large {

    max-width: 850px;

    width: 100%;

}

.p-medium {

    max-width: 550px;

    width: 100%;

}

.p-small {

    max-width: 350px;

    width: 100%;

}

.sub-heading {

    font-size: 16px !important;

    font-weight: 400;

}

.assign-lead .title-col {

    display: block;

    width: 100%;

    padding: 5px;

}

.assign-lead .desc-col {

    display: block;

    width: 100%;

    padding: 5px;

}

.heading-prime {

    margin-bottom: 20px;

}

.full-text {

    display: block;

    width: 100%;

}

select {

    padding: 5px;

    width: 100%;

}

.tab-content {

    padding: 10px 0;

}

.info-tabscol li a {

    color: #000;

}

.info-tabscol li.active a {

    background: #002046;

    color: #fff;

    border: 0px;

}

.navigation-left-col .inner-sub-col ul li a {

    background: #dfdfdf;

}

.navigation-left-col .inner-sub-col ul li a:hover {

    background: #d0d0d0;

}

/**************popus-forms***************************************/

.forms-box label {

    width: 20%;

}

.forms-box input[type="text"] {

    width: 80%;

    max-width: 70%;

    padding: 5px;

    border-radius: 0px;

    vertical-align: top;

}

.forms-box input[type="email"] {

    width: 80%;

    max-width: 70%;

    padding: 5px;

    border-radius: 0px;

    vertical-align: top;

}

.forms-box input[type="checkbox"] {

    width: 1%;

    max-width: 70%;

    padding: 5px;

    border-radius: 0px;

    vertical-align: top;

}

.forms-box select {

    width: 80%;

    max-width: 70%;

    padding: 5px;

    border-radius: 0px;

    vertical-align: top;

    border: 1px solid #dddddd

}

.forms-box textarea {

    width: 80%;

    max-width: 70%;

    padding: 5px;

    border-radius: 0px;

    vertical-align: top;

    border: 1px solid #dddddd

}

.forms-medium label {

    width: 100%;

}

.forms-medium input[type="text"] {

    width: 100%;

    max-width: 100%;

    padding: 5px;

    border-radius: 0px;

    vertical-align: top;

}

.forms-medium input[type="email"] {

    width: 100%;

    max-width: 100%;

    padding: 5px;

    border-radius: 0px;

    vertical-align: top;

}

.forms-medium input[type="checkbox"] {

    width: 15px;

    max-width: 100%;

    padding: 5px;

    border-radius: 0px;

    vertical-align: top;

}

.forms-medium select {

    width: 100%;

    max-width: 100%;

    padding: 5px;

    border-radius: 0px;

    vertical-align: top;

    border: 1px solid #dddddd

}

.forms-medium textarea {

    width: 100%;

    max-width: 100%;

    padding: 5px;

    border-radius: 0px;

    vertical-align: top;

    border: 1px solid #dddddd

}

.forms-box .leads-col {

    max-width: 100%;

}

/*******************************************************Newtabsdesign******************************************/

.main-tabs-col {

    border: 1px solid #ddd;

    padding: 0px;

    margin: 0px;

}

.main-tabs-col ul {

    margin: 0px;

    padding: 0px;

}

.main-tabs-col li {

    /*    width: 33.3%;*/

    width: 25%;

    margin: 0px 0 -3px;

    text-align: center;

    border-right: 1px solid #ddd

}

.main-tabs-col li:last-child {

    border-right: 0px;

}

.main-tabs-col li.active a {

    background: #002046 none repeat scroll 0 0;

    border: 0 none;

    color: #fff;

}

.main-tabs-col li:hover a {

    background: #002046 none repeat scroll 0 0;

    border: 0 none;

    color: #fff;

}

.main-tabs-col .nav-tabs > li.active > a, .main-tabs-col .nav-tabs > li.active > a:hover, .main-tabs-col .nav-tabs > li.active > a:focus {

    background: #002046 none repeat scroll 0 0;

    border: 0 none;

    color: #fff;

}

.main-tabs-col li a {

    border-radius: 0px;

    margin: 0px;

}

.innersub-main-tab {

    border: 1px solid #ddd;

    padding: 20px;

    border-top: 0px;

    border-bottom: 0px;

}

.main-tabs-colmn .tab-content {

    padding: 0px;

}

.innersub-main-tab .tab-content {

    padding: 10px 0px;

}

.county-pro #sold_leads td {

    padding: 0px;

    text-align: center;

    font-size: 13px;

}

.county-pro #sold_leads th {

    font-size: 13px;

    font-weight: bold;

}

.county-pro #sold_leads th.bluebar {

    text-align: center;

    color: #fff;

}

.county-pro .table {

    margin-bottom: 0px;

}

.boarder-sp {

    border-right: 3px solid #484848 !important

}

.search-box {

    padding: 20px 0;

    text-align: center;

}

/**************************************Manage_adword_popup*********************************************************/

.key-colmn {

    display: inline-block;

    width: 33%;

}

.key-colmn input {

    max-width: 15px !important;

    margin-right: 5px;

}

.key-colmn .label-text {

    font-size: 12px;

    max-width: 230px !important;

}

.link-county input[type="checkbox"] {

    width: 15px;

    margin-right: 5px;

}

.counties {

    display: inline-block;

    margin-bottom: 20px;

    margin-right: 10px;

    max-width: 182px;

    vertical-align: top;

    width: 100%;

}

.counties > a {

    color: #000;

    font-size: 17px;

    font-weight: bold;

}

.counties ul {

    margin-top: 0;

    margin-bottom: 10px;

    padding-left: 5px;

}

.counties ul li {

    display: block;

    list-style-type: none;

    margin-right: 10px;

    vertical-align: top;

    width: 100%;

}

.leads-col ul {

    margin: 5px 0 20px;

    padding: 0;

}

.county-pro .dataTables_wrapper table.dataTable {

    border-collapse: collapse;

    border-spacing: 0;

}

/**********data_table_t_foot**************++++++++///*****************/

table.dataTable tfoot th, table.dataTable tfoot td {

    padding: 10px 18px 6px 10px !important;

    border-top: 0 !important;

}

.text-right {

    text-align: right;

}

/*loading background*/

.bg-loading {

    background-color: buttonface;

    padding: 3%;

    text-align: center;

}

.btn-prime:hover {

    background: #002046 !important;

    box-shadow: 1px 1px 1px #002046;

    color: #fff !important;

}

.mobile-view {

    background: rgba(0, 0, 0, 0) url("../images/lp-images/mobile-view.png") no-repeat scroll 0 0;

    margin: 0 auto;

    max-width: 490px;

    padding: 123px 23px;

    height: 900px;

}

.mobile-view iframe {

    height: 600px;

    width: 377px;

}

/********tabletview********/

.tablet-view {

    background: rgba(0, 0, 0, 0) url("../images/lp-images/ipad-view.png") no-repeat scroll 0 0;

    max-width: 973px;

    margin: 0 auto;

    padding: 205px 103px;

}

.tablet-view iframe {

    height: 950px;

    width: 100%;

}

/*******desktop-tview********/

.desktop-view {

    background: rgba(0, 0, 0, 0) url("../images/lp-images/desktop.png") no-repeat scroll 0 0;

    height: 994px;

    max-width: 1225px;

    margin: 0 auto;

    padding: 41px;

    background-size: 100% 100%;

}

.desktop-view iframe {

    height: 631px;

    width: 100%;

}

/*lp preview section starts*/

.modal-dialog.preview-cls {

    max-width: 80%;

}

.modal-dialog.preview-cls .leads-col {

    max-width: 100%;

}

.modal-dialog.preview-cls .leads-col h3 {

    text-align: left;

}

.radio-boxe-style ul {

    list-style: none;

    height: 100%;

    width: 100%;

    margin: 0;

    padding: 0;

}

.radio-boxe-style ul li {

    color: #aaaaaa;

    display: block;

    float: left;

    font-size: 14px;

    /*height: 100px;*/

    position: relative; /*width: 8%;*/

}

.radio-boxe-style ul li input[type=radio] {

    position: absolute;

    visibility: hidden;

}

.radio-boxe-style ul li label {

    cursor: pointer;

    display: -moz-inline-box;

    font-size: 1.5em;

    font-weight: 300;

    height: 30px;

    margin: 23px auto;

    padding: 8px 0 0 50px;

    position: relative;

    z-index: 9;

}

.radio-boxe-style ul li:hover label {

    color: #002046;

}

.radio-boxe-style ul li .check-bx {

    border: 5px solid #aaaaaa;

    border-radius: 100%;

    display: block;

    height: 23px;

    left: 20px;

    position: absolute;

    top: 30px;

    transition: border 0.25s linear 0s;

    width: 24px;

    z-index: 5;

}

.radio-boxe-style ul li:hover .check-bx {

    border: 5px solid #002046;

}

.radio-boxe-style ul li .check-bx::before {

    border-radius: 100%;

    content: "";

    display: block;

    height: 10px;

    left: 2.5px;

    margin: auto;

    position: absolute;

    top: 2px;

    transition: background 0.25s linear 0s;

    width: 10px;

}

.radio-boxe-style input[type=radio]:checked ~ .check-bx {

    border: 5px solid #002046;

}

.radio-boxe-style input[type=radio]:checked ~ .check-bx::before {

    background: #002046;

}

.radio-boxe-style input[type=radio]:checked ~ label i.fa {

    color: #002046 !important;

}

/*****uppr-row**/

.icons-row i {

    float: left;

    list-style-type: none;

    text-align: center; /*width: 8% !important;*/

}

/*.icons-row {







    display: block;







    margin: 0;







    padding: 0;







    width: 100%;







}*/

.icons-row i.fa {

    color: #aaaaaa !important;

}

.icons-row i.fa:hover {

    color: #002046 !important;

}

/*Ticket #320*/

.label-cls {

    color: #002046;

    font-weight: bold !important;

    margin: 23px 28px 0 0 !important;

}

/*ticket #384*/

.heading-underline-txt {

    border-bottom: 1px solid #002046;

    padding-bottom: 5px;

    color: #002046;

}

.cursor-cls {

    cursor: pointer;

}

.panel-heading-row {

    background: #347baa none repeat scroll 0 0;

    color: #fff;

    font-size: 18px;

    font-weight: 500;

    padding: 10px;

}

.drp-dn {

    cursor: pointer;

    text-align: center;

    font-size: 12px !important;

}

.link-font {

    font-size: 14px !important;

}

.fin-check {

    display: inline-block !important;

    margin: 0 !important;

    padding: 5px 0 !important;

    vertical-align: top;

    width: 40px;

}

.fin-logo {

    display: inline-block !important;

    vertical-align: top;

}

.email-footer {

    display: inline-block;

    font-weight: bold;

    padding: 8px 0;

}

/*lp preview section ends */

/*****************/

.states_campaigns a {

    color: #fff;

    display: inline-block;

    width: 85%;

    padding: 5px 0;

}

.states_campaigns:hover {

    background: #347baa;

}

.link-county input[type="checkbox"] {

    margin-right: 5px;

    margin-top: 10px;

    width: 15px;

}

.grey-box {

    background: #908d94 !important;

}

.counties {

    max-width: 19%;

}

.mobile_bid_modifier {

    float: right;

    padding-right: 5px;

    text-align: right;

}

.states_campaigns_status {

    float: right;

    margin-top: 5px;

}

.county-wrp {

    margin-left: 5px;

}

/*Ticket #451 (Nabeel)*/

.navigation-left-col .inner-sub-col .dropdown > a {

    background: #908d94 url("../images/arrow-right.png") no-repeat scroll right center !important;

}

.navigation-left-col .inner-sub-col .dropdown.open > a {

    background: #908d94 url("../images/arrow-down.png") no-repeat scroll right center !important;

}

.navigation-left-col .navbar {

    min-height: auto !important;

}

.srch-cls select {
    font-size: 12px;
    margin-right: 5px;

    padding: 4px 0 5px !important;

    width: 100px;

    margin-bottom: 10px;

}

.srch-cls input[type="radio"] {

    display: inline-block;

    vertical-align: middle;

    margin-top: 0;

}

.srch-cls label {

    margin-bottom: 3px !important;

    font-size: 12px !important;

    margin-left: 2px;

}

.srch-cls .btn-prime {

    padding: 7px 10px 5px !important;

}

.no-b-margin {

    margin: 0 0 -40px !important;

}

.srch-tbl td {

    padding: 5px;

}

.srch-tbl input {

    border-radius: 5px;

}

.dashboard-content-col {

    float: left;

    max-width: 100%;

    padding: 0 30px;

    width: 100%;

}

.dashboard-content-col div.panel {

    margin-bottom: 5px;

}

/*date October 4th */

.width-5 {

    width: 5% !important;

}

.width-10 {

    width: 10% !important;

}

.width-11 {

    width: 11% !important;

}

.width-12 {

    width: 12% !important;

}

.width-15 {

    width: 15% !important;

}

.width-20 {

    width: 20% !important;

}

.width-25 {

    width: 25% !important;

}

.width-30 {

    width: 30% !important;

}

.width-35 {

    width: 35% !important;

}

.width-40 {

    width: 40% !important;

}

.callcenter-div {

    padding: 5px !important;

}

/***************************************************************************************************/

.pages-wizard {

    background: #f5f5f5 none repeat scroll 0 0;

    padding: 9px 0 0 10px;

}

.all-checkboxes a {

    color: #000;

}

.all-checkboxes a:hover {

    color: #1c569a;

}

#manageCampaignFrm .all-checkboxes label {
    width: 35%;
}

.wizard-steps {

    background: #002046 none repeat scroll 0 0;

    color: #fff;

    padding: 9px;

}

#filters .detail-text ul li {

    text-align: left;

    width: 100%;

}

#filters .form-row input[type="text"] {

    margin-right: 50px;

    width: 16%;

}

#filters .form-row {

    margin-top: 20px;

}

#settings .detail-text ul li {

    text-align: left;

    width: 100%;

}

.btn-prime.large-btn {

    display: inline-block;

    font-size: 16px;

    min-width: 130px !important;

    padding: 10px 20px !important;

}

/*ticket #505*/

.general-heading {

    font-weight: bold;

    font-size: 16px;

    border-bottom: 2px solid #000;

    margin-bottom: 20px;

}

.check-small {

    display: inline-block;

    width: 20px;

    vertical-align: top;

    margin-right: 20px;

}

.check-logo {

    display: inline-block;

    vertical-align: top;

}

.check-logo img {

    width: 150px;

}

/*************************************************************************************************/

.btns-row-right {

    text-align: right;

    padding: 15px 0;

}

.generic-btn {

    padding: 5px 10px;

    background: #ff9900;

    color: #fff;

    border-radius: 4px;

    margin-left: 5px;

    text-decoration: none;

    box-shadow: 1px 1px 1px #bd8838;

}

.generic-btn:hover {

    background: #002046;

    color: #fff;

    box-shadow: 1px 1px 1px #002046;

}

/*Ticket #505*/

.main-bx {

    margin: 20px 0;

}

.input-email-test {

    display: inline-block !important;

    width: 250px;

    border: 1px solid #ddd

}

.selct-file .fileinput-button {

    margin-top: -30px;

}

/**************************************************************************************************************/

.blue {

    background-color: #e5f0fe !important;

}

.blue:hover {

    background: #347baa !important;

}

.blue:hover td {

    color: #fff !important;;

}

.blue td a {

    color: #000 !important

}

.blue:hover td a {

    color: #fff !important

}

/*******white*************/

.white {

    background-color: #fff !important;

}

.white:hover {

    background: #347baa !important;

}

.white:hover td {

    color: #fff !important;;

}

.white td a {

    color: #000 !important

}

.white:hover td a {

    color: #fff !important

}

/************yellow************/

.yellow {

    background-color: #ffffcd !important;

}

.yellow:hover {

    background: #347baa !important;

}

.yellow:hover td {

    color: #fff !important;;

}

.yellow td a {

    color: #000 !important

}

.yellow:hover td a {

    color: #fff !important

}

/************grey**************/

.grey {

    background-color: #f2f2f2 !important;

}

.grey:hover {

    background: #347baa !important;

}

.grey:hover td {

    color: #fff !important;;

}

.grey td a {

    color: #000 !important

}

.grey:hover td a {

    color: #fff !important

}

/**************rose****************/

.rose {

    background-color: #ffe8e8 !important;

}

.rose:hover {

    background: #347baa !important;

}

.rose:hover td {

    color: #fff !important;;

}

.rose td a {

    color: #000 !important

}

.rose:hover td a {

    color: #fff !important

}

/************green**********************/

.green {

    background-color: #eaf1dd !important;

}

.green:hover {

    background: #347baa !important;

}

.green:hover td {

    color: #fff !important;;

}

.green td a {

    color: #000 !important

}

.green:hover td a {

    color: #fff !important

}

/*****************lightgreen******/

.lgreen {

    background-color: #DDFFDD !important;

}

.lgreen:hover {

    background: #347baa !important;

}

.lgreen:hover td {

    color: #fff !important;;

}

.lgreen td a {

    color: #000 !important

}

.lgreen:hover td a {

    color: #fff !important

}

/*****************nqcolor****************/

.nqcolor {

    background-color: #FDE9D9 !important;

}

.nqcolor:hover {

    background: #347baa !important;

}

.nqcolor:hover td {

    color: #fff !important;;

}

.nqcolor td a {

    color: #000 !important

}

.nqcolor:hover td a {

    color: #fff !important

}

/*********************lightpurple*********/

.lightPurpule {

    background-color: #F5DFFA !important;

}

.lightPurpule:hover {

    background: #347baa !important;

}

.lightPurpule:hover td {

    color: #fff !important;;

}

.lightPurpule td a {

    color: #000 !important

}

.lightPurpule:hover td a {

    color: #fff !important

}

/****************************************/

#settings .sub-heading {

    background: #002046 none repeat scroll 0 0;

    color: #fff;

    padding: 9px;

}

#settings .detail-text ul li {

    text-align: left;

    width: 100%;

}

#settings .form-row input[type="text"] {

    margin-right: 50px;

    width: 16%;

}

#settings .form-row {

    margin-top: 20px;

}

/*ticket #505*/

.email-test-clsss {

    display: inline-block !important;

    margin: 0 10px;

}

/*****ticket455*******/

.serach-bar-top > input {

    border: 1px solid #ddd;

    padding: 1px 10px;

    text-align: center;

    width: 80px;

}

.serach-bar-top .btn-prime {

    font-size: 11px;

    padding: 5px 4px !important;

}

.serach-bar-top > span {

    margin-right: 10px;

}

.serach-bar-top {

    margin-bottom: 20px;

}

.selct-file-cls .fileinput-button {

    float: right;

    margin-top: -36px !important;

}

.selct-file-cls .progress {

    margin-top: -42px;

}

#chk1_box .col-md-4 {

    padding: 0;

}

#agent_replyFrm div.mce-edit-area {

    height: 300px

}

#agent_replyFrm div.mce-edit-area iframe {

    height: 100% !important;

}

.dashboard-content-col .srch-cls .btn-prime {

    padding: 2px 4px 5px !important;

}

/***********************tabas-design*****455******/

.p-drop-panel {

    background: #dfdfdf none repeat scroll 0 0;

    padding: 10px 0 5px;

    border-color: #ddd;

    color: #333;

    border-top-left-radius: 3px;

    border-top-right-radius: 3px;

}

.p-drop-panel .main-col-search {

    background: none;

    margin-bottom: 0;

    padding: 0;

}

.p-drop-panel .main-col-search label {

    color: #333;

    padding-right: 5px;

    border-radius: 0;

}

.p-drop-panel .arr-dwn {

    padding: 10px 0;

    text-align: center;

    cursor: pointer;

}

.heading-col-mains {

    font-size: 18px;

    padding: 2px 15px;

}

/***************478******************/

.main-col-search.modified-search {

    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;

    margin-bottom: 0;

}

.modified-search .width-12 {

    border: 1px solid #ddd;

    border-radius: 4px;

    padding: 3px !important;

    width: 10% !important;

}

.modified-search .width-15 {

    border: 1px solid #ddd;

    border-radius: 4px;

    padding: 3px !important;

    width: 15% !important;

}

.modified-search input[type="text"] {

    border: 1px solid #ddd;

    border-radius: 4px;

    margin-bottom: 5px;

    text-align: center;

    width: 70px;

}

.modified-search .btn-prime {

    padding: 4px 4px 3px !important;

}

.modified-search label {

    color: #555 !important;

}

/***************Radio-boxes***********************/

#auctionbox {

    font-size: 15px !important;

}

#auctionbox .forms-medium input[type="radio"] {

    display: inline-block;

    width: auto;

    margin: 0;

    padding: 0;

    vertical-align: middle;

}

.confirm-tit {

    margin-bottom: 10px;

}

#auctionbox .forms-medium input[type="checkbox"] {

    width: auto;

    margin: 0;

    vertical-align: middle;

    display: inline-block;

}

.red.chexk-term {

    font-size: 13px;

    padding-left: 10px;

    vertical-align: middle;

    font-weight: 600;

}

.confirm-tit {

    font-size: 15px;

    font-weight: bold;

}

.phone2 {

    margin-left: 0;

}

.width-30 {

    width: 30%;

}

.agent-matches-inner .btn-prime {

    margin-right: 10px;

    margin-right: 10px;

    min-width: 130px !important;

    margin-bottom: 10px;

    display: inline-block;

    padding: 0px 10px !important;

}

.agent-btns-row {

    padding: 5px 0;

}

.elite-user {

    margin-bottom: 10px;

}

/********Rehman*******/

.domain-detail-text {

    display: inline-block;

    font-size: 12px;

    font-weight: 300;

    line-height: 21px;

    padding-left: 4%;

    vertical-align: middle;

    width: 40%;

}

.link-cls {

    cursor: pointer;

    color: #3399FF !important;

}

.green-bar th {

    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif !important;

}

/*## Ticket #509*/
#dripEmailContainer .leads-col {
    overflow: hidden;
}

.select-img-btn {
    margin-bottom: 10px;
    display: inline-block;
    padding: 0 5px !important;
}

.red-budget-cls td {
    color: red !important;
}

.preview_lib_imag img {
    max-width: 777px;
}

/**ticket592*/
.all-checkboxes.pages-section {
    width: 60%;
}

.pages-wizard input {
    margin-bottom: 5px;
    width: 40% !important;
}

.pages-wizard {
    background: #f5f5f5 none repeat scroll 0 0;
    padding: 3px 0 0 1px;
    width: 65%;
}

.pages-wizard input {
    height: 25px;
    margin-bottom: 5px;
    width: 30% !important;
}

.all-checkboxes.manage-cost-lead {
    width: 100%;
}

.cost-row input {
    margin-right: 16px !important;
    width: 30% !important;
}

.all-checkboxes.manage-scripts-section {
    width: 100%;
}

/*Ticket #610*/
.state-flt-box {
    width: 100%;
}

.state-flt-box form {
    width: 100% !important;
}

.state-flt-box .desc-col {
    width: 100% !important;
}

.state-flt-box select {
    width: 100%;
    margin-bottom: 10px;
}

.state-flt-box .btn-prime {
    /*color: #000 !important;*/
    display: block;
    font-size: 16px;
    width: 100%;
    text-transform: uppercase
}

.pink {
    background-color: #FE8484 !important;
}

.light-red {
    background-color: #FE4D4D !important;
}

.bg-red {
    background-color: red !important;
}

.dark-red {
    background-color: #c90000 !important;
}

.brown {
    background-color: #530000 !important;
}

.heat-map {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
}

.color-chk-box {
    border: 2px solid #000;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    background: orange;
}

.counties-matched-div #matched_counties_wrapper {
    margin-bottom: 10px !important;
}

/*ticket #624*/
.email-comp-row {
    margin-bottom: 20px;
    padding-left: 15px;
}

.num-agent-pl {
    display: inline-block;
    margin-right: 20px;

}

.num-agent-pl input {
    margin-bottom: 0;
    width: 80px;
    display: inline-block;
}

.view-csv-pl {
    display: inline-block;
    vertical-align: middle;
    width: 120px;
    margin-right: 10px;
}

.logo-box-pl {
    display: inline-block;
    margin-right: 20px;
    /* width: 240px;*/
}

.logo-box-pl input[type="radio"] {
    display: inline-block;
    margin: 0 10px 0 0;
    vertical-align: middle;
}

.logo-box-pl img {
    display: inline-block;
    vertical-align: middle;
}

.num-agent-pl > label {
    display: inline-block;
    margin-right: 16px !important;
}

.agent_row {
    display: inline-block;
}

/*ticket #615*/
.elite-request-req {
    font-size: 16px;
    font-weight: normal;
}

.dp_col {
    width: 18% !important;
}

.group_logo {
    display: inline-block !important;
}

#agent_heat_mapFrm label {
    padding: 7px 13px;
}

#agent_heat_mapFrm select {
    padding: 6px 3px;
    font-size: 12px;
    width: 100%;
}

.county-profile-p #map_outer {
    right: 0;
    text-align: right;
}

/*Ticket #637*/
.status-row iframe {
    border: 0 none;
    height: 36px;
    overflow-y: scroll;
    width: 100%;
}

.orange-cls {
    color: #ff9900 !important;
}

.green-color {
    color: green !important;
}

.green-dark-bg {
    background-color: green !important;
}

.green-lparrot-bg {
    background-color: #D4ED38 !important;
}

.green-parrot-bg {
    background-color: #B4CD72 !important;
}

.green-pa-bg {
    background-color: #8D9D1F !important;
}

.red-bg {
    background-color: red !important;
}

/*## ticket #709*/
.call-status-label {
    display: inline-block;
    padding: 4px 8px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #999;
    border-radius: 3px;
}

.place-holder-name {
    font-size: 18px !important;
    font-weight: bold !important;
    padding: 0px 0 0 12px;
}

.ui-sortable-handle {
    cursor: move !important;
}

.sortlabel > label {
    cursor: move !important;
}

.id-ab-test-box {
    padding: 10px;
}

.incomplete-cc {
    margin-right: 190px;
    color: red;
    font-size: 20px;
}

.downgrade_link {
    font-size: 15px !important;
}

.openCounties_heading {
    color: #000;
    font-size: 20px;
    font-weight: bold;
    padding: 0 0 8px;
}

.two-tab ul li {
    width: 49.9% !important;

}

@media screen and (max-width: 1270px) {

    .counties {

        max-width: 182px;

    }

    .link-county {

        text-align: center;

    }

    .states_campaigns {

        text-align: left;

    }

}

@media screen and (max-width: 1000px) {

    .happening-now {

        float: none;

        max-width: 350px;

    }

}

@media screen and (max-width: 992px) {

    .mainlead-col .col-md-6 {

        padding-right: 0px;

        margin-bottom: 15px;

    }

    .mainlead-col .col-md-3 {

        padding-left: 0px;

        margin-bottom: 15px;

    }

    .recent-leads-colum {

        max-width: 100%;

    }

    .inner-content-main .col-md-3 {

        padding-left: 0px;

    }

    .heading-strip {

        left: 0px;

    }

    .scrubbed-leadtable-col {

        overflow: scroll;

        margin-bottom: 20px;

    }

    .scrubbed-leadtable-col table {

        max-width: 800px;

        width: 800px;

    }

    /*********************/
    .setting-page .label-status {

        min-width: 70%;

    }

    .billing .label-status {

        min-width: 70%;

    }

}

@media screen and (max-width: 767px) {

    .navigation-left-col {

        margin-right: 0px;

        max-width: 100%;

    }

    .navigation-left-col .navbar-collapse {

        max-height: 350px;

        overflow-x: hidden;

    }

    .contact-table {

        max-width: 100%;

    }

    .edit-profile.billing-information {

        width: 100% !important;

    }

}

@media screen and (max-width: 490px) {

    .content-col {

        padding: 5px;

    }

    .first-table {

        float: none;

        margin-bottom: 20px;

        width: 100%;

    }

    .second-table {

        float: none;

        margin-bottom: 20px;

        width: 100%;

    }

    .col-inner {

        width: 100%;

        margin-right: 0px;

    }

    .edit-profile.billing-information label {

        width: 100%;

    }

    /***************************************************Billing-information*************************************************/
    .edit-profile.billing-information input[type="text"] {

        width: 100% !Important;

    }

    .edit-profile.billing-information select {

        width: 100% !important;

    }

    .edit-profile.billing-information select.expDate {

        width: 45% !important;

    }

    .edit-profile.billing-information .defaultSkin table.mceLayout {

        width: 100%;

    }

    .link-county .counties:nth-child(2n+2) {

        margin-right: 0;

    }

}

@media screen and (max-width: 390px) {

    .content-col .col-md-12 {

        padding: 0px;

    }

    .happening-now > span:nth-child(1) {

        display: block;

        margin-bottom: 10px;

    }

    .lead-flow-main {

        padding: 0px;

    }

    .def-text {

        padding: 10px;

    }

    .inner-content-main .def-text {

        padding: 10px 0px;

    }

}

/**********************************************************************************************moveup*******************************************************/

.dis-none {

    display: none;

}

.select-heat-map {

    width: 40%;

}

.loading-div {

    position: absolute;

    margin-top: 8% !important;

    left: 40%;

    z-index: 9999

}

.elite_margin {

    margin-left: 10%;

}

.orange {

    color: #ff9900 !important;

}

.yellow {

    color: #FFFF00 !important;

}

.underline {

    border-bottom: 2px solid #ff9900;

    display: inline-block;

}

.elite-listing {

    margin: 0px;

    padding: 0px;

    margin: 0 0 0 18px;

}

.elite-listing li span {

    border-radius: 50%;

    width: 23px;

    height: 23px;

    background: #ff9900;

    color: #fff;

    text-align: center;

    margin-right: 10px;

    display: inline-block;

    font-weight: 500;

}

.elite-listing li {

    list-style-type: none;

    margin: 0px;

    padding: 0px;

    padding-bottom: 10px;

    font-weight: 300 !important;

}

.view-programme .btn-prime {

    font-size: 18px;

    font-weight: 400;

}

.view-programme .btn-prime:hover {

    background: #002046 !important;

    color: #fff !important;

    box-shadow: 1px 1px 1px #3d3d3d;

}

.clients-name-title {

    margin-top: 5px;

}

.resouces-box .col-md-6 {

    padding: 0px;

    margin-bottom: 20px;

}

.resouces-box figure {

    display: inline-block;

    width: 45px;

    margin-right: 10px;

    vertical-align: top;

}

.resouces-box figure img {

    width: 45px;

    height: 45px;

}

.resouces-detailbox {

    display: inline-block;

    width: 80%;

    vertical-align: top;

}

.resouces-detailbox h2 {

    margin: 0px;

    font-size: 16px;

}

.fa-resource {

    background: url(../images/article-icon.png) no-repeat;

    height: 30px;

    width: 30px;

}

.states_campaigns {

    background: #002046;

    padding-left: 10px;

}

.states_campaigns a {

    color: #fff;

}

.space {

    display: inline-block;

    margin-right: 5px;

}

.google-ads h3 {

    margin: 0;

}

.google-ads .child a {

    color: #060;

    font-size: 14px;

    font-weight: 500;

}

.google-ads .child span {

    float: left;

}

/* Ticket #286 CSS added BY ABBAS 5th of May 2016 At 7:40 PM */

.textarea-width {

    width: 100% !important;

}

.wordsdropdown-cls {

    display: inline-block;

    width: 30% !important;

    margin-right: 15px;

}

.alert-fs {

    font-size: 12px !important

}

.check-boxc {

    vertical-align: middle !important;

    width: 4% !important;

    display: inline-block !important;

}

.ad-colmn input[type="checkbox"] {

    max-width: auto;

    width: auto;

    display: inline-block;

    margin-right: 8px;

    vertical-align: top;

    margin-top: 0;

}

.ad-colmn .label-text {

    max-width: 90%;

    width: 90%;

    vertical-align: top;

    line-height: 16px;

    margin-bottom: 10px;

}

#table_center {

    text-align: center;

}

#keywordStatusTabCont .nav-tabs {

    margin: 0 !important

}

#keywordStatusTabCont .tab-content {

    padding: 20px 20px !important

}

#keywordStatusTabCont .dataTables_paginate.paging_full {

    width: 70%;

}

.search-small label {

    font-size: 12px;

}

.search-small select {

    width: 70px !important;

    margin-right: 2px !important;

}

.search-small input {

    width: 80px !important;

}

.search-small input[type="radio"] {

    width: 12px !important;

}

.search-small .btn-prime {

    padding: 5px 10px !important;

}

.comming-soon {

    font-size: 24px;

    font-weight: bold;

    padding: 50px;

    text-align: center;

}

.county-stats {

    margin-top: 5px !important;

}

.county-status-center {

    text-align: center;

    display: block;

}

.county-detail_status {
    text-align: left;
    margin-top: 10px
}

.dashboard-unsubscribe_search {
    border: 1px solid #ddd;
    padding: 1px 10px;
    width: 120px;
}

.textarea-expand-vertical {
    resize: vertical;
}

.google-ads-desc {

    color: #555 !important;

    font-weight: normal !important;

}

.radio_label {

    display: block;

    font-weight: 300 !important;

    text-transform: none;

    width: 100% !important;

}

#negative_keyword_campaignsFrm .counties {

    max-width: 183px;

}

#getAdwordCampaignsCont #all_camp {

    max-width: 40px;

}

#getAdwordCampaignsCont .county-wrp input[type="checkbox"] {

    margin-left: 10px;

}

.message_col {

    width: 30%

}

#elite_request_form .form-control {

    height: auto;

    box-shadow: none;

}

.agents-email-lsit {

    border: 3px solid black;

    width: 600px;

    margin: 20px;

    padding: 10px;

}

.agents-email-lsit h2 {

    color: red !important;

}

.small-text {

    color: #222223;

    font-size: 17px;

}

.main-col-search input[type="file"] {

    display: inline-block;

    width: 190px;

}

/************************tabs*********************/

.info-tabscol li.active a {

    background: #002046 none repeat scroll 0 0;

    border: 1px solid #e8e8e8;

    color: #fff;

}

.full-width-tab ul li a {

    border: 1px solid #e8e8e8;

    border-radius: 0;

    display: block;

    margin: 0;

    width: 100%;

    font-size: 16px;

    background: #eeeeee;

}

.full-width-tab ul li {

    text-align: center;

    width: 24.9%;

}

.full-width-tab ul li a:hover {

    border-color: #e8e8e8;

    background: #002046;

    color: #fff;

}

.full-width-tab li.active > a, .full-width-tab li.active > a:hover, .full-width-tab li.active > a:focus {

    border-color: #e8e8e8;

    background: #002046;

    color: #fff;

}

.info-tabscol .nav-tabs > li > a {

    border: 1px solid #ddd;

}

/*******************478*********************/

.dashboard-content-col .panel-heading-row {

    background: none;

    color: #002046;

}

.panel-default > .panel-heading {

    background: #dfdfdf;

    padding: 0 15px;

}

.panel-default > .panel-heading span {

    color: orange;

}

.archive-leads-notes {

    font-size: 11px;

    font-weight: bold;

}

.lead-log-pop {

    border: 1px solid #000;

    height: auto;

    margin: 10px 0;

    padding: 20px;

}

.lead-log-pop-textarea {

    width: 400px;

}

.manageText_typemail {

    padding-left: 16%;

}

/************472*********/

.mod-search label {

    color: #000;

    margin-right: 4px;

}

.mod-search {

    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;

    margin-bottom: 0;

}

.main-col-search.mod-search input[type="text"] {

    font-size: 12px;

    margin-bottom: 5px;

    width: 75px;

    text-align: center;

}